.benefits-section {
  @include media(desktop) {
  }
}

.benefits-bg-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.benefits-container {
  @include media(desktop) {
  }
}

.benefits-content-wrapper {
  @include media(desktop) {
  }
}

.benefits-text-wrapper {
  @include media(desktop) {
  }
}

.benefits-title {
  @include media(desktop) {
  }
}

.benefits-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #010101;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    gap: 40px;
  }
}

.benefits-list-item {
  @include media(desktop) {
  }
}

.benefits-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #010101;

  @include media(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
