.faq-section {
  background: #632c7a;

  @include media(desktop) {
  }
}

.faq-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 64px;
    padding-bottom: 64px;
    max-width: 1440px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  color: #fff;

  @include media(desktop) {
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @include media(desktop) {
    gap: 16px;
  }
}

.faq-list-item {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 25px 31px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @include media(desktop) {
    padding: 18px 31px;
  }
}

.faq-item-question-wrapper {
  @include media(desktop) {
  }
}

.faq-item-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
  min-width: 24px;
}

.faq-btn-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #fff;

  @include media(desktop) {
  }
}

.is-visible {
  @include media(desktop) {
    max-height: 100px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open .faq-item-answer-wrapper {
  margin-top: 24px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}
