.footer {
  background: #632c7a;

  @include media(desktop) {
  }
}

.footer-bg-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-container {
  @include media(desktop) {
  }
}

.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 192px;
  }
}

.footer-nav {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;

  @include media(desktop) {
    flex-direction: column;
    align-items: center;
    gap: 0;
    min-width: 352px;
  }
}

.footer-list-item {
  @include media(desktop) {
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.footer-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.33333;
  }
}
