<section class="about-section section" id="about">
  <div class="about-section-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">About the Game</h2>
      <p class="about-text about-top-text">
        Honestly? It's ridiculously easy to learn, but I keep finding myself
        opening it again and again
      </p>
      <p class="about-text">
        Sprinkle Pop Party is designed for quick enjoyment. There are no complex
        rules — players tap clusters of matching sweets to clear them and
        trigger visual effects. It’s all about rhythm, color, and satisfaction.
      </p>
    </div>
  </div>
</section>
