<section class="advantages-section section" id="advantages">
  <div class="advantages-section-wrapper">
    <div class="container advantages-container">
      <h2 class="section-title advantages-title">Advantages</h2>
      <p class="advantages-text">Why it works</p>
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <h3 class="advantages-item-title">Instant Start</h3>
          <p class="advantages-item-text">No learning curve.</p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-item-title">Relaxed Gameplay</h3>
          <p class="advantages-item-text">No stress or time pressure.</p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-item-title">Visual Satisfaction</h3>
          <p class="advantages-item-text">Clear and rewarding effects.</p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-item-title">Accessible for Everyone</h3>
          <p class="advantages-item-text">
            Pretty much anyone can jump in and have fun with it.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
