<section class="contact-section section" id="contact">
  <div class="contact-section-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <div class="contact-icon-wrapper">
          <svg class="message-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-message"></use>
          </svg>
        </div>
        <h2 class="section-title contact-title">Contact</h2>
        <p class="contact-text">Let’s keep it fun</p>
        <a href="mailto:info@blueprintform.online" class="contact-email-link"
          ><span class="contact-text-span">info@blueprintform.online</span>
          <span class="contact-arrow-span">→</span></a
        >
      </div>
    </div>
  </div>
</section>
