<section class="experience-section section" id="experience">
  <div class="experience-section-wrapper">
    <div class="container experience-container">
      <h2 class="section-title experience-title">Game Feel</h2>
      <p class="experience-text">
        Look, it's not gonna win any awards for innovation, but sometimes you
        just want to tap stuff and watch it explode .Every time you tap
        something, you get this nice little visual pop that just feels right.
        There’s no pressure, just continuous movement and color.
      </p>
    </div>
  </div>
</section>
