<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <h2 class="section-title gameplay-title">How to Play</h2>
          <p class="gameplay-top-text">Tap, clear, repeat</p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">
                • Find Clusters<br />
                Look for groups of matching sweets.
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">
                • Tap to Pop<br />
                Clear them with a single tap.
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">
                • Trigger Combos<br />
                Larger groups create chain reactions.
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">
                • Score Points<br />
                Earn more by clearing efficiently.
              </p>
            </li>
            <li class="gameplay-list-item">
              <p class="gameplay-item-text">
                • Keep Going<br />
                New sweets fall in, creating new patterns.
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="333"
            height="594"
          />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="190"
            height="339"
          />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="190"
            height="339"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
